extends ../base
block title
	| personal-area-static page
block main
	section.own_partner_cabinet
		.container
			.title_wrap_h2
				h2 Личный кабинет партнера
			.input_button
				label Ваша партнерская ссылка:
				input(type='text' title='Имя занято другим юзером' class='switch' value="https://stockaccs.com/?parther=XXXXX" readonly)
				button.btn-form.btn-switch ИЗМЕНИТЬ
	.container
		hr
	section.menu_profile
		.container
			.wrap_menu_profile
				.menu
					ul.menu_list
						li
							a(href='#') Мой профиль
						li
							a(href='#') Статистика
						li
							a(href='#') Баланс
						li
							a(href='#') Выплаты
						li.active_item
							a(href='#') Рекламные материалы
						li
							a(href='#') Выход
					.personal-manager-data
						h4 Ваш личный менеджер
						dl
							dt
								| Скайп:
							dd
								a(href="skype:stockaccs.com?add") live:stockaccs.com
						dl
							dt
								| Telegram:
							dd
								a(href="https://t.me/5431385553155") 5431385553155
						dl
							dt
								| E-mail:
							dd
								a(href="mailto:support@stockaccs.com") support@stockaccs.com
						dl
							dt
								| Whatsapp:
							dd
								a(href="whatsapp://send?phone=+653543643435435453") 653543643435435453
						dl
							dt
								| Viber:
							dd
								a(href="viber://add?number=287443254874212") 287443254874212
						dl
							dt
								| ICQ:
							dd
								span 54525225
				.profile
					//сменная часть
					.profile_header РЕКЛАМНЫЕ МАТЕРИАЛЫ
					.profile_body_balance
						.tabs-items-wrap
							a(href="#").tabs-item.active Категория баннера 1
							a(href="#").tabs-item Категория баннера 2
							a(href="#").tabs-item Категория баннера 3
							a(href="#").tabs-item Категория баннера 4
							a(href="#").tabs-item Категория баннера 5
							.tabs-wrap.active
								.tabs-items-wrap-inner
									a(href="#").tabs-item.active 468 х 60
									a(href="#").tabs-item 200 х 200
									a(href="#").tabs-item 120 х 600
									a(href="#").tabs-item 100 х 100
									a(href="#").tabs-item 88 х 31
								.tabs-wrap-inner.active
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								a(href="#" class='hide-code') Показать код
								.affiliate-links
									.affiliate-links__item
										.affiliate-links__link
											span
												| &lt;a href=&quot;https://betatransfer.net/?rid=33&quot;&gt;&lt;img src=&quot;https://betatransfer.net//wp-content/plugins/
												| premiumbox/images/banners/468x60_1.gif&quot; alt=&quot;Обменный пункт&quot; title=&quot;Обменный пункт&quot; width=&quot;468&quot;
												| height=&quot;60&quot; border=&quot;0&quot; /&gt;&lt;/a&gt;
							.tabs-wrap
									.tabs-items-wrap-inner
										a(href="#").tabs-item.active 468 х 60
										a(href="#").tabs-item 200 х 200
										a(href="#").tabs-item 120 х 600
										a(href="#").tabs-item 100 х 100
										a(href="#").tabs-item 88 х 31
									.tabs-wrap-inner.active
										img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
									.tabs-wrap-inner
										img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
									.tabs-wrap-inner
										img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
									.tabs-wrap-inner
										img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
									.tabs-wrap-inner
										img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
									a(href="#" class='hide-code') Показать код
									.affiliate-links
										.affiliate-links__item
											.affiliate-links__link
												span
													| &lt;a href=&quot;https://betatransfer.net/?rid=33&quot;&gt;&lt;img src=&quot;https://betatransfer.net//wp-content/plugins/
													| premiumbox/images/banners/468x60_1.gif&quot; alt=&quot;Обменный пункт&quot; title=&quot;Обменный пункт&quot; width=&quot;468&quot;
													| height=&quot;60&quot; border=&quot;0&quot; /&gt;&lt;/a&gt;
							.tabs-wrap
								.tabs-items-wrap-inner
									a(href="#").tabs-item.active 468 х 60
									a(href="#").tabs-item 200 х 200
									a(href="#").tabs-item 120 х 600
									a(href="#").tabs-item 100 х 100
									a(href="#").tabs-item 88 х 31
								.tabs-wrap-inner.active
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								a(href="#" class='hide-code') Показать код
								.affiliate-links
									.affiliate-links__item
										.affiliate-links__link
											span
												| &lt;a href=&quot;https://betatransfer.net/?rid=33&quot;&gt;&lt;img src=&quot;https://betatransfer.net//wp-content/plugins/
												| premiumbox/images/banners/468x60_1.gif&quot; alt=&quot;Обменный пункт&quot; title=&quot;Обменный пункт&quot; width=&quot;468&quot;
												| height=&quot;60&quot; border=&quot;0&quot; /&gt;&lt;/a&gt;
							.tabs-wrap
								.tabs-items-wrap-inner
									a(href="#").tabs-item.active 468 х 60
									a(href="#").tabs-item 200 х 200
									a(href="#").tabs-item 120 х 600
									a(href="#").tabs-item 100 х 100
									a(href="#").tabs-item 88 х 31
								.tabs-wrap-inner.active
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								a(href="#" class='hide-code') Показать код
								.affiliate-links
									.affiliate-links__item
										.affiliate-links__link
											span
												| &lt;a href=&quot;https://betatransfer.net/?rid=33&quot;&gt;&lt;img src=&quot;https://betatransfer.net//wp-content/plugins/
												| premiumbox/images/banners/468x60_1.gif&quot; alt=&quot;Обменный пункт&quot; title=&quot;Обменный пункт&quot; width=&quot;468&quot;
												| height=&quot;60&quot; border=&quot;0&quot; /&gt;&lt;/a&gt;
							.tabs-wrap
								.tabs-items-wrap-inner
									a(href="#").tabs-item.active 468 х 60
									a(href="#").tabs-item 200 х 200
									a(href="#").tabs-item 120 х 600
									a(href="#").tabs-item 100 х 100
									a(href="#").tabs-item 88 х 31
								.tabs-wrap-inner.active
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								.tabs-wrap-inner
									img(src=require("../../img/personal-area-promotional-materials-img.png") class="img-fluid")
								a(href="#" class='hide-code') Показать код
								.affiliate-links
									.affiliate-links__item
										.affiliate-links__link
											span
												| &lt;a href=&quot;https://betatransfer.net/?rid=33&quot;&gt;&lt;img src=&quot;https://betatransfer.net//wp-content/plugins/
												| premiumbox/images/banners/468x60_1.gif&quot; alt=&quot;Обменный пункт&quot; title=&quot;Обменный пункт&quot; width=&quot;468&quot;
												| height=&quot;60&quot; border=&quot;0&quot; /&gt;&lt;/a&gt;