extends ../base
block title
	| akkaunty-mail
block main
	section.akkaunty-mail_first
		.title_wrap_h2
			h2 Купить аккаунты&#160
				span Mail.ru
		section.index_main.akkaunty-mail
		.container
			.table_tabs_wrap
				.table_body
					.table_item.main
						.ti_header
							.serv СЕРВИС
							.amount КОЛИЧЕСТВО
							.price ЦЕНА ЗА&#160
								span 1К АККАУНТОВ
							.currency
								.currency_rub.active_curr
									a(href='#') RUB
								.currency_usd
									a(href='#') USD
								.currency_eur
									a(href='#') EUR
						.ti_body
							.ti_body_title
								.ti_body_a
									a(href='#')
										.img-wrap
											img(src=require("../../img/logo-mail-ru.png"))
										span MAIL.RU
								.ti_body_row
									.ti_body_name МУЖ. ИМЕНА
									.ti_body_quanty 0
									.ti_body_price 1-1K: 2.1 $ | 1K-10K: 1.9 $ | 10K-50K: 232323.8 $ |
									.ti_body_form
										form
											input(type='text' placeholder='0')
											button.buy_btn Купить
								.ti_body_row
									.ti_body_name NO SPAM
									.ti_body_quanty 0
									.ti_body_price 1-1K: 2.1 $ | 1K-10K: 1.9 $ | 10K-50K: 3232.8 $ |
									.ti_body_form
										form
											input(type='text' placeholder='0')
											button.buy_btn Купить
								.ti_body_row
									.ti_body_name МОЙ МИР
									.ti_body_quanty 0
									.ti_body_price 1-1K: 2.1 $ | 1K-10K: 1.9 $ | 10K-50K: 1.8 $ |
									.ti_body_form
										form
											input(type='text' placeholder='0')
											button.buy_btn Купить
								.ti_body_row
									.ti_body_name НА ДОМЕНЕ @ВК.RU
									.ti_body_quanty 999999
									.ti_body_price 1-1K: 2.1 $ | 1K-10K: 1.9 $ | 10K-50K: 1.2323 $ |
									.ti_body_form
										form
											input(type='text' placeholder='0')
											button.buy_btn Купить
				.tabs_body
					.title_wrap
						h5 Категории аккаунтов:
					.tabs_body_accordion
						.tba_item
							.tba_item_button.akkaunty_tba
								span СОЦИАЛЬНЫЕ СЕТИ
								i(class="fa fa-angle-down")
							.tba_item_body
								ul.tba_item_body_list
									li
										a(href='#')
											img(src=require("../../img/FB.png"))
											span Facebook
									li
										a(href='#')
											img(src=require("../../img/INSTA.png"))
											span Instagram
									li
										a(href='#')
											img(src=require("../../img/odn.png"))
											span Odnoklassniki
									li
										a(href='#')
											img(src=require("../../img/TWITTWR.png"))
											span Twitter
									li
										a(href='#')
											img(src=require("../../img/vk.png"))
											span Vkontakte
						.tba_item
							.tba_item_button.akkaunty_tba
								span СОЦИАЛЬНЫЕ СЕТИ
								i(class="fa fa-angle-down")
							.tba_item_body
								ul.tba_item_body_list
									li
										a(href='#')
											img(src=require("../../img/FB.png"))
											span Facebook
									li
										a(href='#')
											img(src=require("../../img/INSTA.png"))
											span Instagram
									li
										a(href='#')
											img(src=require("../../img/odn.png"))
											span Odnoklassniki
									li
										a(href='#')
											img(src=require("../../img/TWITTWR.png"))
											span Twitter
									li
										a(href='#')
											img(src=require("../../img/vk.png"))
											span Vkontakte
						.tba_item
							.tba_item_button.akkaunty_tba
								span СОЦИАЛЬНЫЕ СЕТИ
								i(class="fa fa-angle-down")
							.tba_item_body
								ul.tba_item_body_list
									li
										a(href='#')
											img(src=require("../../img/FB.png"))
											span Facebook
									li
										a(href='#')
											img(src=require("../../img/INSTA.png"))
											span Instagram
									li
										a(href='#')
											img(src=require("../../img/odn.png"))
											span Odnoklassniki
									li
										a(href='#')
											img(src=require("../../img/TWITTWR.png"))
											span Twitter
									li
										a(href='#')
											img(src=require("../../img/vk.png"))
											span Vkontakte
						.tba_item
							.tba_item_button.akkaunty_tba
								span СОЦИАЛЬНЫЕ СЕТИ
								i(class="fa fa-angle-down")
							.tba_item_body
								ul.tba_item_body_list
									li
										a(href='#')
											img(src=require("../../img/FB.png"))
											span Facebook
									li
										a(href='#')
											img(src=require("../../img/INSTA.png"))
											span Instagram
									li
										a(href='#')
											img(src=require("../../img/odn.png"))
											span Odnoklassniki
									li
										a(href='#')
											img(src=require("../../img/TWITTWR.png"))
											span Twitter
									li
										a(href='#')
											img(src=require("../../img/vk.png"))
											span Vkontakte
		section.other_main
			.container
				.share_link
					p.share_link_p Поделитесь ссылкой на сервис в своих социальных сетях:
					.link_list
						ul
							li google
							li facebook
							li twitter
				.form_valid_wrap
					.form_container
						p Если в магазине нет нужного Вам количества аккаунтов или мы еще не добавили вид аккаунтов который Вам нужен, заполните данную форму и мы с Вами свяжемся:
						form
							input(type='hidden')
							.alert-danger.name-feedbacks
								.feedbacks-name
							.form_akk_name
								.form-group.field-akk_name.required.has-error
									label.control-label Вид аккаунтов
									input(type='text').input.input_big
									.help-block
							.alert-danger.email-feedbacks
								.feedbacks-email
							.form_quantyti
								.form-group.field-quantyti.required.has-error
									label.control-label Количество
									input(type='text').input.input_big
									.help-block
							.alert-danger.feedback-feedbacks
								.feedbacks-feedback
							.form_user_email
								.form-group.field-user_email.required.has-error
									label.control-label Эллектронный адрес
									input(type='text').input.input_big
									.help-block
							.form_user_email
								.form-group.field-accountsnotavailableindex-form_name.has-success
									label.control-label
									input(type='hidden').input.input_big
									.help-block
							// это для капча
							.form-group.field-accountsnotavailableindex-recaptcha
								| Капча
							.form-group
								button(type='submit').btn-form Отправить
							.contacts-validate
					.valid_container
						p По поводу невалида аккаунтов, по вопросам цен объемов, аккаунтов в других сервисах - пишите на почту:
							a(href='#') support@stockaccs.com
						.img_wrap
							img(src=require("../../img/warning.png"))
						p Внимание: претензии валидности аккаунтов только в день покупки и несколько дней после регистрации.
				.main_article
					article
						p Чтобы купить&#160
							strong аккаунты Mail ru&#160
							| не потребуется много денег и времени, ведь мы предлагаем услугу по оптимальной цене.
						p Благодаря четкой организации процесса создания новых профайлов почты майл ру, мы можем гарантировать, что вы сможете ними пользоваться не один год. Наши специалисты используют разработанный софт, настроенный под персональный сервер. Каждая регистрация осушествляется под индивидуальными прокси, что гарантирует страховку от непредвиденных блокировок со стороны администрации сервисов.
						p
							b Все предоставляемые аккаунты mail продаются только в одни руки, поэтому вы становитесь единственным владельцем и можете не беспокоиться о «чистоте» профайла, так как он абсолютно новый.
						p Для удобства покупки аккаунтов Mail ru, предоставляем огромный выбор систем оплаты. Просто выберите наиболее подходящий и воспользуйтесь им. Регистрация почтовых ящиков mail ru осуществляется с соблюдением всех правил ресурса. Мы предлагаем большое количество учетных записей, так как в магазине STOCKACCS постоянно в наличии множество «чистых» ящиков. После оплаты вы автоматически получите все необходимые данные для полноценного использования приобретенного аккаунта.
						p В связи с широкой популярностью, mail почта есть практически у каждого. Мы уверены, если вы решите воспользоваться нашими услугами, то у вас пропадет необходимость искать дополнительные профайлы этого или другого сервиса.



